.main-songs {

}

.main-songs .first {

}

.main-songs .first #song-container {
  
}

.main-songs .first #song-container img {
  max-width: 100%;
  height: auto;
}

.main-songs .first #song-container p {
  margin: 0;
}
