{% extends 'base.html' %}
{% block body %}
<link rel="stylesheet" href="/static/css/main.css">
<!-- 현 위치 -->
<!-- 추천곡 -->
<div class="main-songs container">
  <!-- 1위곡 -->
  <div class="first">
    <h3>이 지역의 1위곡</h3>
    <div id="song-container">
      <img id="img" src="https://i.ytimg.com/vi/tUgxjPmHT1M/hqdefault.jpg" alt="">
      <div id="tUgxjPmHT1M">
        <p class="title">F.I.A - 푯대를 향하여 (피아버전) | Toward The Goal (FIA.ver)</p>
        <p class="channel">F.I.A</p>
      </div>
    </div>
  </div>
</div>
{% endblock body %}